<div class="page-wrapper">
    <div id="home-header" ng-controller="HomeCtrl">
        <div id="carousel-wrapper">
            <carousel interval="interval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}">

                    <div class="carousel-caption">
                        <p>
                            {{'home.carousel.caption' | translate}}
                        </p>

                        <p class="mb-10">
                            {{'home.carousel.caption2' | translate}}
                        </p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <div id="home-subheader">
        <i class="fa fa-angle-down"></i>
    </div>
    <div id="container-teach-learn" class="container">
        <div class="row">
            <div id="container-learn" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <h2>{{'home.learn.title' | translate}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <img src="images/home/learn.png"/>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <p style="margin-top: 20px;">{{'home.learn.1' | translate}}</p>

                        <p>{{'home.learn.2' | translate}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <button type="button" ui-sref="learn" class="btn btn-default blue-btn center-block"><i
                                class="fa fa-plus"></i>{{'home.teach.btn.info' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div id="container-teach" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <h2>{{'home.teach.title' | translate}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <img src="images/home/teach.png"/>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <p style="margin-top: 20px;">{{'home.teach.1' | translate}}</p>

                        <p>{{'home.teach.2' | translate}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <button type="button" ui-sref="teach" class="btn btn-default blue-btn center-block"><i
                                class="fa fa-plus"></i>{{'home.teach.btn.info' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-concept">
        <div class="container">
            <h2>{{'home.concept.title' | translate}}</h2>

            <p>{{'home.concept' | translate}}</p>

            <h3>{{'home.concept.subtitle' | translate}}</h3>

            <button id="register-btn" type="button" class="btn btn-default green-btn center-block" ui-sref="register"
                    ng-if="currentUser == null">{{'home.concept.button' | translate}}
            </button>
        </div>
    </div>
</div>