<div id="blackBar" class="small">
    <div class="container">
        <h1>{{'mentions.title' | translate}}</h1>
    </div>
</div>
<div class="container">
    <div id="learn-teach-wrapper" class="vm-30 center">
        <p class="justify">{{'mentions.1.content' | translate}}</p>

        <h2>{{'mentions.2.title' | translate}}</h2>
        <div class="justify" ng-bind-html="'mentions.2.content' | translate"></div>

        <h2>{{'mentions.3.title' | translate}}</h2>
        <div class="justify" ng-bind-html="'mentions.3.content' | translate"></div>

        <h2>{{'mentions.4.title' | translate}}</h2>
        <div class="justify" ng-bind-html="'mentions.4.content' | translate"></div>

        <h2>{{'mentions.5.title' | translate}}</h2>
        <div class="justify" ng-bind-html="'mentions.5.content' | translate"></div>

        <h2>{{'mentions.6.title' | translate}}</h2>
        <div class="justify" ng-bind-html="'mentions.6.content' | translate"></div>
    </div>
</div>