<div id="blackBar" class="small">
    <div class="container">
        <h1>{{'mentions.title' | translate}}</h1>
    </div>
</div>
<div class="container">
    <div id="learn-teach-wrapper" class="vm-30 center">
        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta dignissimos distinctio eaque ex
            excepturi fugiat impedit ipsam laboriosam minima nulla numquam, pariatur quas quasi repellendus! Repellendus
            repudiandae velit vitae!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta dignissimos distinctio eaque ex
            excepturi fugiat impedit ipsam laboriosam minima nulla numquam, pariatur quas quasi repellendus! Repellendus
            repudiandae velit vitae!</p>

        <hr/>
        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta dignissimos distinctio eaque ex
            excepturi fugiat impedit ipsam laboriosam minima nulla numquam, pariatur quas quasi repellendus! Repellendus
            repudiandae velit vitae!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta dignissimos distinctio eaque ex
            excepturi fugiat impedit ipsam laboriosam minima nulla numquam, pariatur quas quasi repellendus! Repellendus
            repudiandae velit vitae!</p>
    </div>
</div>