<div id="myprofile-container">
    <div class="container" ng-if="profile">
        <div id="profile-completion" class="row" ng-if="isTeacher && !isProfileComplete()">


            <!-- COMPLETION PANEL -->

            <div id="profile-completion-wrapper" ng-if="!profile.validate">
                <p>{{'myprofile.validation.message' | translate}}</p>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 vm-10">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 left-col">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 center-col">
                                {{'myprofile.completion.formation' | translate}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 right-col">
                                <i class="fa fa-circle-thin" ng-if="profile.formations.length == 0"></i>
                                <i class="fa fa-check-circle" ng-if="profile.formations.length > 0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 vm-10">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 left-col">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 center-col">
                                {{'myprofile.completion.price' | translate}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 right-col">
                                <i class="fa fa-circle-thin" ng-if="!profile.hourRate"></i>
                                <i class="fa fa-check-circle" ng-if="profile.hourRate"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 vm-10">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 left-col">
                                <i class="fa fa-camera"></i>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 center-col">
                                {{'myprofile.completion.photo' | translate}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 right-col">
                                <i class="fa fa-circle-thin" ng-if="!profile.photo"></i>
                                <i class="fa fa-check-circle" ng-if="profile.photo"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 vm-10">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 left-col">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 center-col">
                                {{'myprofile.completion.xp' | translate}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 right-col">
                                <i class="fa fa-circle-thin" ng-if="!profile.motivation"></i>
                                <i class="fa fa-check-circle" ng-if="profile.motivation"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-2 col-lg-3">

                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 left-col">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 center-col">
                        <span ng-if="!session.diploma.diplomaUploaded">{{'diploma.label.upload' | translate}}</span>
                        <span ng-if="session.diploma.diplomaUploaded && !session.diploma.diplomaValidated">{{'diploma.label.validating' | translate}}</span>
                        <span ng-if="session.diploma.diplomaUploaded && session.diploma.diplomaValidated">{{'diploma.label.validated' | translate}}</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 right-col">
                        <div ng-if="!session.diploma.diplomaUploaded && !session.diploma.diplomaValidated">
                            <div class="fileUpload btn blue-btn" ng-show="diplomaFile == null">
                                <span class="fa fa-file-pdf-o"></span>
                                <span class="lm-5">{{'diploma.btn.select' | translate}}</span>
                                <input id="diplomaInput" name="file" type="file" accept=".pdf" class="upload"/>
                            </div>
                            <button ng-show="diplomaFile != null && !diplomaUploading"
                                    ng-click="uploadDiploma()"
                                    type="button" class="btn btn-default green2-btn"><span
                                    class="fa fa-upload"></span>
                                <span class="lm-5">{{'diploma.btn.upload' | translate}}</span>
                            </button>
                            <progressbar ng-show="diplomaUploading" max="100" value="diplomaProgress"><b>{{diplomaProgress}}%</b>
                            </progressbar>
                        </div>
                        <i class="fa fa-spinner"
                           ng-if="session.diploma.diplomaUploaded && !session.diploma.diplomaValidated"></i>
                        <i class="fa fa-check-circle" ng-if="session.diploma.diplomaValidated"></i>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-2 col-lg-3">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="hidden-xs hidden-sm col-md-1 col-lg-1" ng-if="!isTeacher">

            </div>

            <!-- RIGHT PANEL -->
            <div id="profile-right" ng-class="{'col-md-9 col-lg-9 col-md-push-3 col-lg-push-3' : isTeacher}" class="col-xs-12 col-sm-12">

                <div id="profile-header" class="bordered-block">
                    <div>
                        <div class="row">

                            <!-- PHOTO PANEL -->
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="profilePhoto thumbnail">
                                    <img class="profile-pins" ng-src="/images/pins.png" ng-show="profile.photo"/>
                                    <img ng-src="{{profile.photo}}" ng-show="profile.photo"/>
                                    <i class="fa fa-user" ng-show="!profile.photo"></i>

                                    <hr/>
                                    <div id="upload-btn-wrapper">
                                        <alex-uploader text="{{'myprofile.photo.button' | translate}}"
                                                       icon="fa fa-cloud-upload"
                                                       url="upload/uploadAvatar"
                                                       on-upload-finished="onUpload(url)"
                                                       max-size="128"></alex-uploader>
                                    </div>
                                </div>
                            </div>


                            <!-- TOP PANEL -->
                            <div class="col-sm-9 col-md-9 col-lg-9">

                                <!-- BTNS PANEL -->
                                <div id="btns-wrapper">

                                    <div class="btn-group">
                                        <button id="profile-lang-btn" type="button"
                                                class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false">
                                            <img ng-src="images/languages/{{profileLocale}}.png"/><span> {{'myprofile.language' | translate}} </span><span
                                                class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ng-click="changeProfileLanguage('fr')"><img
                                                    src="images/languages/fr.png"/></a></li>
                                            <li><a ng-click="changeProfileLanguage('en')"><img
                                                    src="images/languages/en.png"/></a></li>
                                            <li><a ng-click="changeProfileLanguage('es')"><img
                                                    src="images/languages/es.png"/></a></li>
                                        </ul>
                                    </div>
                                </div>


                                <!-- FIRST PANEL -->
                                <div>
                                    <span id="profile-title" class="f-25 middle" href="#" e-form="firstnameBtn">{{profile.firstname || 'firstname'}}</span>
                                </div>


                                <!-- CITY PANEL -->
							<span ng-show="!editCity">
								{{profile.city.address_components[0].long_name}} ({{profile.city.address_components[3].long_name}})
							</span>
							<span>
								<input type="text" g-places-autocomplete ng-model="profile.city" options="optionsCity"
                                       ng-show="editCity" force-selection="true" onaftersave="save()"/>
								<span class="fa fa-pencil edit-icon" ng-click="editCity = !editCity"></span>
							</span>
                                <hr/>


                                <!-- FORMATIONS PANEL -->
                                <div class="mt-10" ng-if="isTeacher">
                                    <ui-select multiple ng-model="profile.formations" theme="bootstrap"
                                               on-select="save()" on-remove="save()">
                                        <ui-select-match
                                                placeholder="{{'myprofile.formations.placeholder' | translate}}">
                                            {{$item.name[profileLocale]}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="formation in formations">
                                            <div ng-bind-html="formation.name[profileLocale] | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>


                                <!-- EXTRAS PANEL -->
                                <div class="mt-10" ng-if="isTeacher">
                                    <ui-select multiple ng-model="profile.extras" theme="bootstrap"
                                               on-select="save()"
                                               on-remove="save()">
                                        <ui-select-match
                                                placeholder="{{'myprofile.extras.placeholder' | translate}}">
                                            {{$item.name[profileLocale]}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="extra in extras">
                                            <div ng-bind-html="extra.name[profileLocale] | highlight: $select.search"></div>
                                            <small>
                                                {{extra.description[profileLocale]}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>


                        <!-- MOTIVATION PANEL -->
                        <div id="motivation-panel">
                            <div>
                                <h4 class="block-title2 f-16"> {{'myprofile.experience' | translate}}

                                    <span class="fa fa-pencil edit-icon" ng-click="textBtnForm.$show()"
                                          ng-hide="textBtnForm.$visible"></span>
                                </h4>
                            </div>
                            <p editable-textarea="profile.motivation[profileLocale]" e-form="textBtnForm" e-rows="7"
                               e-style="width:100%" onaftersave="save()" e-ng-blur="textBtnForm.$save()">
                                {{ profile.motivation[profileLocale] || ('myprofile.motivation.empty' | translate) }}
                            </p>
                        </div>
                    </div>
                </div>

                <div id="profile-formulas-panel" ng-if="isTeacher">


                    <!-- FORMULAS PANEL -->
                    <h3 class="block-title2 f-16 mt-35">
                        {{'myprofile.formations' | translate}}
                        <span class="fa fa-plus edit-icon" ng-click="createFormula()" data-toggle="modal"
                              data-target="#dlgAddFormula"></span>
                    </h3>


                    <div ng-repeat="formula in profile.formulas">
                        <hr/>
                        <h4 class="blue-title f-14">
                            {{formula.name[profileLocale]}}
                            <span class="fa fa-pencil edit-icon" ng-click="editFormula(formula)" data-toggle="modal"
                                  data-target="#dlgAddFormula"></span>
                            <span class="fa fa-trash-o edit-icon red" ng-click="deleteFormula(formula)"></span>
                        </h4>

                        <p class="grey-text">{{formula.description[profileLocale]}}<span ng-if="formula.price">, {{formula.price}}€</span>
                        </p>
                    </div>
                    <hr/>

                    <!-- HOUR PANEL -->
                    <label class="blue-title f-14">{{'myprofile.hourrate.label' | translate}}<a href="#"
                                                                                                editable-number="profile.hourRate"
                                                                                                e-min="0"
                                                                                                onaftersave="save()">{{
                        profile.hourRate || '...'
                        }}</a>€</label>
                    <hr/>

                    <!-- ADD FORMULA DLG -->
                    <div class="modal fade" id="dlgAddFormula" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form name="formAddFormula">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Nouvelle formule</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="formulaName">Nom</label>
                                            <input type="text" ng-model="formulaToAdd.name[profileLocale]"
                                                   class="form-control" id="formulaName"
                                                   placeholder="Nom de la formule"
                                                   ng-required="true">
                                        </div>
                                        <div class="form-group">
                                            <label for="formulaDesc">Description</label>
                                            <textarea id="formulaDesc" ng-model="formulaToAdd.description[profileLocale]"
                                                      placeholder="Description de la formule" class="form-control"
                                                      rows="3" ng-required="true"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="formulaPrice">Prix</label>
                                            <input type="number" ng-model="formulaToAdd.price" min="0"
                                                   class="form-control" id="formulaPrice"
                                                   placeholder="Prix de la formule">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler
                                        </button>
                                        <button type="submit" ng-click="addFormula();" class="btn btn-primary"
                                                data-dismiss="modal" ng-disabled="formAddFormula.$invalid">Ajouter
                                            la
                                            formule
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- ACCOMODATION PANEL -->

                <div id="profile-accomodation-panel" class="mt-35" ng-if="isTeacher">

                    <div ng-if="!profile.activeAccomodation" id="activeAccomodation"
                         ng-click="activeAccomodation()">
                        <span class="fa fa-bed fa-3x middle inline"></span> <span class="middle inline">{{'myprofile.accomodation.active' | translate}}</span>
                    </div>


                    <div ng-if="profile.activeAccomodation == true && !profile.location">
                        <h3 class="block-title2 f-16 mt-35">{{'myprofile.accomodation.title' | translate}}</h3>
                        <hr/>
                        <div class="input-group">
                            <span class="input-group-addon">{{'myprofile.accomodation.address' | translate}}</span>
                            <input type="text" class="form-control" g-places-autocomplete
                                   options="optionsLocation" force-selection="true" ng-model="profile.location"/>

                        </div>
                    </div>

                    <div ng-if="profile.activeAccomodation == true && profile.location">
                        <h3 class="block-title2 f-16 mt-35">{{'myprofile.accomodation.title' | translate}}</h3>
                        <hr/>

                        <div class="row">

                            <!-- PHOTOS PANEL -->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div id="photos-viewer">
                                    <div id="photos-selected">
                                        <alex-uploader id="accomodationUploadBtn"
                                                       text="{{'myprofile.accomodation.image.button' | translate}}"
                                                       icon="fa fa-cloud-upload"
                                                       on-upload-finished="onUploadAccomodation(url)"
                                                       url="upload/uploadAccomodationPhoto"
                                                       ng-if="!profile.photos[selectedPhotoIndex]"></alex-uploader>
                                        <img ng-src="{{profile.photos[selectedPhotoIndex].url}}"
                                             ng-click="openLightboxModal()"
                                             ng-if="profile.photos[selectedPhotoIndex]"/>

                                        <div id="photos-menu" ng-if="profile.photos[selectedPhotoIndex]">
                                            <button type="button" class="btn" id="btn-remove-photo"
                                                    ng-click="deletePhoto(selectedPhotoIndex)"
                                                    ng-if="profile.photos[selectedPhotoIndex]"><i
                                                    class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <ul id="photos-list">
                                        <li ng-click="selectPhoto(0)">
                                            <img ng-src="{{profile.photos[0].url}}" ng-if="profile.photos[0]"/>
                                            <i class="fa fa-picture-o" ng-if="!profile.photos[0]"></i>
                                        </li>
                                        <li ng-click="selectPhoto(1)">
                                            <img ng-src="{{profile.photos[1].url}}" ng-if="profile.photos[1]"/>
                                            <i class="fa fa-picture-o" ng-if="!profile.photos[1]"></i>
                                        </li>
                                        <li ng-click="selectPhoto(2)">
                                            <img ng-src="{{profile.photos[2].url}}" ng-if="profile.photos[2]"/>
                                            <i class="fa fa-picture-o" ng-if="!profile.photos[2]"></i>
                                        </li>
                                        <li ng-click="selectPhoto(3)">
                                            <img ng-src="{{profile.photos[3].url}}" ng-if="profile.photos[3]"/>
                                            <i class="fa fa-picture-o" ng-if="!profile.photos[3]"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <!-- EQUIPMENT PANEL -->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h5>{{'myprofile.accomodation.equipements' | translate}}</h5>
                                <ui-select multiple ng-model="profile.equipments" theme="bootstrap"
                                           on-select="save()"
                                           on-remove="save()">
                                    <ui-select-match
                                            placeholder="{{'myprofile.accomodation.equipements.select' | translate}}">
                                        {{$item.name[profileLocale]}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="equipment in equipments">
                                        <div ng-bind-html="equipment.name[profileLocale] | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <h5>{{'myprofile.accomodation.address' | translate}}</h5>


                                <!-- LOCATION -->
						<span ng-show="!editLocation">
							{{profile.location.formatted_address || ('myprofile.accomodation.address' | translate)}}
						</span>
						<span>
							<input type="text" id="accomodationAdressInput" class="form-control" g-places-autocomplete
                                   options="optionsLocation" force-selection="true" ng-model="profile.location"
                                   ng-if="editLocation"/>
							<button id="editLocationBtn" type="button" class="fa fa-pencil edit-icon"
                                    ng-model="editLocation" btn-checkbox
                                    btn-checkbox-true="true" btn-checkbox-false="false">

                            </button>
						</span>
                            </div>
                        </div>
                        <hr/>

                        <div class="row">


                            <!-- GOOGLE MAP PANEL -->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                    <ui-gmap-markers models="map.markers"
                                                     doCluster="true"
                                                     coords="'self'"
                                                     icon="'icon'"
                                                     click="'onclicked'"
                                                     options="'options'"
                                                     idkey='id'
                                                     clusterOptions='map.clusterOptions'
                                                     control='markerControl.getChildMarkers().get(id)'>
                                    </ui-gmap-markers>
                                </ui-gmap-google-map>
                            </div>


                            <!-- DESCRIPTION PANEL -->
                            <div id="accomodationDescPan" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h4>
                                    {{'myprofile.accomodation.description.title' | translate}}

                                </h4>

                                <p id="accomodationDesc" e-name="accomodationDescBtn"
                                   editable-textarea="profile.accomodationDescription[profileLocale]" e-rows="7"
                                   e-style="width:100%;resize: none;" blur="submit" class="bg-animate"
                                   onaftersave="save()">
                                    {{ profile.accomodationDescription[profileLocale] ||
                                    ('myprofile.accomodation.description.empty' | translate) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div ng-if="profile.activeAccomodation == true" class="right">
                        <span class="fa fa-times p-10 pointer" ng-click="cancelAccomodation()">{{'myprofile.accomodation.cancel' | translate}}</span>
                    </div>
                </div>
            </div>

            <!-- LEFT PANEL -->
            <div id="profile-left" ng-class="{'col-md-3 col-lg-3 col-md-pull-9 col-lg-pull-9' : isTeacher}" class="col-xs-12 col-sm-12"
                 ng-if="isTeacher">


                <!-- CALENDAR PANEL -->
                <div class="panel panel-default" ng-if="isTeacher">
                    <div class="panel-heading block-title1 center">{{'myprofile.calendar' | translate}}</div>
                    <div class="panel-body p-0">
                        <multiple-date-picker class="without-select" day-click="dayClick"
                                              highlight-days="profile.schedules[scheduleIndex].undispos"
                                              month-changed="onMonthChanged"/>
                    </div>
                    <div id="schedule-legend" class="panel-footer">
                        <div class="left p-10">
                            <div class="legend-images day"></div>
                            <span class="legend-text">{{'myprofile.calendar.legend.day' | translate}}</span>
                        </div>
                        <div class="left p-10">
                            <img src="../images/pm.png" class="legend-images pm"><span class="legend-text">{{'myprofile.calendar.legend.pm' | translate}}</span>
                        </div>
                        <div class="left p-10">
                            <img src="../images/am.png" class="legend-images"><span class="legend-text">{{'myprofile.calendar.legend.am' | translate}}</span>
                        </div>
                        <div class="left p-10">
                            <span class="legend-images"></span><span class="legend-text">{{'myprofile.calendar.legend.unvalailable' | translate}}</span>
                        </div>
                        <button id="profile-save-btn" ng-click="save()" type="button" ng-if="needSave"
                                class="btn btn-default green2-btn mt-10"><span class="fa fa-floppy-o"></span>
                            {{'myprofile.calendar.save' |
                            translate}}
                        </button>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading block-title1 center">{{'profile.teacher.reviews.title' | translate}}</div>
                    <div class="panel-body p-0">
                        <p ng-if="reviews.length == 0" class="p-10 center">{{'profile.teacher.reviews.empty' |
                            translate}}</p>

                        <div ng-repeat="review in reviews" class="p-10">
                            <div>
                                <p class="inline middle justify">
                                    <a ui-sref="profile({profileId:review.student.interlocutorProfileId})"
                                       class="fleft mr-10 mb-5">
                                        <img class="user-photo-profile" ng-src="{{review.student.photo}}"
                                             ng-show="review.student.photo"/>
                                        <i class="fa fa-user user-photo-profile" ng-show="!review.student.photo"></i>
                                    </a>

                                    <rating ng-model="review.mark" readonly="true"
                                            class="teacher-profile-rating"></rating>
                                    <br/>
                                    {{review.comment}}
                                </p>
                                <div class="right">
                                    {{review.date | date:'mediumDate' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>