<div id="blackBar" class="small">
    <div class="container">
        <h1>{{'myteachers.title' | translate}}</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-default mt-10">
        <ul id="favlist" class="list-group" ng-if="userFavList.favorits.length > 0">
            <li class="list-group-item" ng-repeat="f in userFavList.favorits">
                <a ui-sref="profile({profileId: f.id})">
                    <img class="user-photo-profile" ng-src="{{f.photo}}" ng-show="f.photo"/>
                    <i class="fa fa-user user-photo-profile" ng-show="!f.photo"></i>
                    {{f.firstname}}
                </a>
                <a class="fa fa-times fright fa-pr5 pointer" ng-click="removeTeacher(f.id)">{{'myteachers.remove' | translate}}</a>
            </li>
        </ul>
        <div class="panel-body p-0" ng-if="userFavList.favorits.length == 0">
            <p class="center vm-10">{{'myprofile.favlist.empty' |
                translate}}</p>
        </div>
    </div>
</div>