<div id="blackBar" class="small">
    <div class="container">
        <h1>{{'parameters.title' | translate}}</h1>
    </div>
</div>
<div class="container">
    <ul class="nav nav-pills vm-10">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <div class="bordered-block">
        <div class="">
            test
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

        </div>
    </div>

</div>