<div id="profile-container">
    <div class="container">
        <div class="row">
            <div id="profile-left" class="col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading block-title1 center">{{'myprofile.calendar' | translate}}</div>
                    <div class="panel-body p-0">
                        <multiple-date-picker class="without-select" day-click="dayClick"
                                              highlight-days="profile.schedules[scheduleIndex].undispos"
                                              month-changed="onMonthChanged"/>
                    </div>
                    <div id="schedule-legend" class="panel-footer">
                        <img src="../images/am.png" class="legend-images"><span class="legend-text">{{'myprofile.calendar.legend.am' | translate}}</span>
                        <img src="../images/pm.png" class="legend-images pm"><span class="legend-text">{{'myprofile.calendar.legend.pm' | translate}}</span>

                        <div class="legend-images day"></div>
                        <span class="legend-text">{{'myprofile.calendar.legend.day' | translate}}</span>
                    </div>
                </div>
            </div>
            <div id="profile-right" class="col-sm-9 col-md-9 col-lg-9">
                <div id="profile-header" class="bordered-block">
                    <div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div id="profilePhoto" class="thumbnail">
                                    <img id="profile-pins" ng-src="/images/pins.png" ng-show="profile.photo"/>
                                    <img ng-src="{{profile.photo}}" ng-show="profile.photo"/>
                                    <i class="fa fa-user" ng-show="!profile.photo"></i>
                                </div>
                            </div>
                            <div class="col-sm-9 col-md-9 col-lg-9">
                                <div id="btns-wrapper" ng-if="isConnected">
                                    <button ng-controller="FavListCtrl" type="button" class="fav-btn btn btn-default blue-btn fa fa-star"
                                            ng-click="addFavorit(profile.id)" ng-class="{favorit : favlist.indexOf(profile.id) != -1}">
                                        <span class="hidden-xs .hidden-sm lm-5">Favoris</span></button>
                                    <button type="button" class="btn btn-default green2-btn fa fa-envelope"
                                            data-toggle="modal"
                                            data-target="#contactDlg">Contacter
                                    </button>
                                    <a ui-sref="reservation({profileId : profile.id})"
                                       class="btn btn-default green2-btn fa fa-chevron-right">
                                        Réserver
                                    </a>
                                </div>
                                <h3 id="userName" class="f-25">{{profile.firstname}}</h3>

                                <div id="level">
                                    <span class="block-title2 f-16">{{'myprofile.level.from' | translate}} </span> {{
                                    profile.levelFrom.name[$parent.lg] }} <span class="block-title2 f-16">{{'myprofile.level.to' | translate}} </span>
                                    {{ profile.levelTo.name[$parent.lg] }}
                                </div>
								<span id="address">
									{{profile.city.address_components[0].long_name}} ({{profile.city.address_components[3].long_name}})
								</span>
                                <hr/>
                                <div class="row optionList">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 {{f.icon}}"
                                         ng-repeat="f in profile.formations">{{f.name[$parent.lg]}}
                                    </div>
                                </div>
                                <div class="row optionList">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 {{e.icon}}"
                                         ng-repeat="e in profile.extras">{{e.name[$parent.lg]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="motivation-panel">
                            <h4 class="block-title2 f-16"> {{'myprofile.experience' | translate}}</h4>

                            <p>
                                {{ profile.motivation[$parent.lg] || 'empty' }}
                            </p>
                        </div>
                    </div>
                </div>

                <h4 class="block-title2 f-16 mt-35">Formations proposées</h4>
                <hr/>
                <label id="hourRateLabel" class="blue-title f-14">Prix d'une heure de cours : </label><span
                    id="hourRate">{{ profile.hourRate || 'NaN' }}€</span>

                <div ng-repeat="formula in profile.formulas track by $index">
                    <hr/>
                    <h4 class="blue-title f-14">{{formula.name[$parent.lg]}}</h4>

                    <p class="grey-text">{{formula.description[$parent.lg]}}, {{formula.price}}€</p>

                    <div class="formuleBtns" ng-if="isConnected">
                        <a ui-sref="reservation({profileId : profile.id, formula : $index})"
                           class="btn btn-default green2-btn">Réserver</a>
                    </div>
                </div>
                <hr/>

                <div class="mt-35" ng-show="profile.activeAccomodation == true">
                    <h4 class="block-title2 f-16 mt-35">Hébergement</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="thumbnail">
                                <carousel class="accomodationCarousel" interval="5000">
                                    <slide ng-repeat="photo in profile.photos">
                                        <img ng-src="{{photo.url}}" style="margin:auto;"/>
                                    </slide>
                                </carousel>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h5 class="block-title2 f-16 mt-0">{{'profile.equipements'| translate}}</h5>

                            <div>
                                <span class="grey-text" ng-repeat="e in profile.equipments">{{e.name[$parent.lg]}}<span
                                        ng-if="!$last"> - </span></span>
                                <span ng-if="!profile.equipments || profile.equipments.length == 0">{{'profile.equipements.empty'|translate}}</span>
                            </div>

                            <h5 class="block-title2 f-16">{{'profile.services' | translate}}</h5>

                            <div>
                                <span class="grey-text" ng-repeat="s in profile.services">{{s.name[$parent.lg]}}<span
                                        ng-if="!$last"> - </span></span>
                                <span ng-if="!profile.services || profile.services.length == 0">{{'profile.services.empty'|translate}}</span>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <hr/>
                    <div class="row" ng-if="profile.activeAccomodation && map">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                <ui-gmap-markers models="map.markers"
                                                 doCluster="true"
                                                 coords="'self'"
                                                 icon="'icon'"
                                                 click="'onclicked'"
                                                 options="'options'"
                                                 idkey='id'
                                                 clusterOptions='map.clusterOptions'
                                                 control='markerControl.getChildMarkers().get(id)'>
                                </ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h5 class="block-title2 f-16 mt-0">{{'profile.location'| translate}}</h5>

                            <p>{{profile.accomodationDescription[$parent.lg]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contactDlg" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{'contact.dlg.title' | translate}} {{profile.firstname}}</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" ng-controller="ContactCtrl" ng-submit="sendMessage(profile.owner.id)">
                            <textarea class="form-control" rows="3" ng-model="message.content"
                                      ng-required="true"></textarea>

                            <div class="center p-10">
                                <button type="submit" class="btn btn-default">
                                    <span class="fa fa-send"></span>{{'contact.dlg.send' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>