<div id="blackBar">
	<div class="container">
		<h1>{{'teach.title' | translate}}</h1>
		<p>{{'teach.subtitle' | translate}}</p>
	</div>
</div>
<div id="learn-container">
	<div class="container">
		<div id="learn-header" class="center-block">
			<img id="vignet" src="images/other/learn.png" />
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
			<hr/>
			
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<ul>
						<li>
							<img src="images/other/check.jpg"> Lorem ipsum dolor
						</li>
						<li>
							<img src="images/other/check.jpg"> Lorem ipsum dolor
						</li>
						<li>
							<img src="images/other/check.jpg"> Lorem ipsum dolor
						</li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<ul class="center-block">
						<li>
							<img src="images/other/check.jpg"> Lorem ipsum dolor
						</li>
						<li>
							<img src="images/other/check.jpg"> Lorem ipsum dolor
						</li>
						<li>
							<img src="images/other/check.jpg"> Lorem ipsum dolor
						</li>
					</ul>
				</div>
			</div>
		</div>
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores sint voluptatum quae modi laboriosam a quasi vel asperiores, porro consequuntur dolore suscipit provident unde error iusto omnis, voluptatibus repudiandae!</p>
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores sint voluptatum quae modi laboriosam a quasi vel asperiores, porro consequuntur dolore suscipit provident unde error iusto omnis, voluptatibus repudiandae!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores sint voluptatum quae modi laboriosam a quasi vel asperiores, porro consequuntur dolore suscipit provident unde error iusto omnis, voluptatibus repudiandae!</p>
	</div>
</div>