<div id="blackBar">
    <div class="container">
        <h1>{{'teach.title' | translate}}</h1>

        <p>{{'teach.subtitle' | translate}}</p>
    </div>
</div>
<div id="learn-container">
    <div class="container">
        <div id="learn-header" class="center-block">
            <img id="vignet" src="images/other/learn.png"/>

            <h2>{{'learn.block.title'|translate}}</h2>
            <hr/>

            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <ul>
                        <li>
                            <img src="images/other/check.jpg"> {{'learn.block.1'|translate}}
                        </li>
                        <li>
                            <img src="images/other/check.jpg"> {{'learn.block.2'|translate}}
                        </li>
                        <li>
                            <img src="images/other/check.jpg"> {{'learn.block.3'|translate}}
                        </li>
                        <li>
                            <img src="images/other/check.jpg"> {{'learn.block.4'|translate}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-6">
                    <ul class="center-block">
                        <li>
                            <img src="images/other/check.jpg"> {{'learn.block.5'|translate}}
                        </li>
                        <li>
                            <img src="images/other/check.jpg"> {{'learn.block.6'|translate}}
                        </li>
                        <li>
                            <img src="images/other/check.jpg"> {{'learn.block.7'|translate}}
                        </li>
                        <li>
                            <img src="images/other/check.jpg"> {{'learn.block.8'|translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="learn-teach-wrapper">
            <h2>{{'learn.content.title0'| translate}}</h2>

            <p>{{'learn.content.title0.1'| translate}}</p>

            <hr/>

            <h2>{{'learn.content.title1'| translate}}</h2>

            <p>{{'learn.content.text1' | translate}}</p>

            <p>{{'learn.content.text1.2' | translate}}</p>

            <p>{{'learn.content.text1.3' | translate}}</p>

            <hr/>

            <h2>{{'learn.content.title2'| translate}}</h2>

            <p>{{'learn.content.text2' | translate}}</p>

            <p>{{'learn.content.text2.1' | translate}}</p>

            <hr/>

            <h2>{{'learn.content.title3'| translate}}</h2>

            <p>{{'learn.content.text3' | translate}}</p>
        </div>
    </div>
</div>