<% include ../../header.ejs %>

<%- __('mail.resa.created.content', authorName) %>

<p><%- __('mail.resa.created.footer', 'https://toofrench.herokuapp.com/#/planning') %></p>




<% include ../../footer.ejs %>