<div id="blackBar" class="small">
    <div class="container">
        <h1>{{'recommandation.title' | translate}}</h1>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hp-10 utilLinkPanel">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{'search.result.utillink' | translate}}</div>
                <!-- List group -->
                <ul class="list-group">
                    <div class="data-loader" ng-if="utillinkLoading">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                    <a href="http://{{r.link}}" target="_blank" class="list-group-item" ng-repeat="r in utillinks" ng-if="!utillinkLoading">
                        <h4 class="list-group-item-heading">{{r.title[currentLocale]}}</h4>
                        <p class="list-group-item-text">{{r.link}}</p>
                    </a>
                </ul>
                <div class="paginator-wrapper center" ng-class="{'hidden': (utillinkLoading || linkCount < linkPageSize)}">
                    <pagination total-items="linkCount" items-per-page="linkPageSize" ng-model="linkPageIndex"
                                ng-change="linkPageChanged()"></pagination>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 hp-10 recommandationPanel">
            <div class="data-loader" ng-if="recommandationLoading">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
            <div ng-repeat="r in recommandations" class="recommandationPanel bordered-block" ng-if="!recommandationLoading">
                <div class="p-10">
                    <h2 class="m-0">{{r.title[currentLocale]}}</h2>
                    <a href="{{r.link}}">{{r.link}}</a>
                    <p>{{r.description[currentLocale]}}</p>
                </div>
            </div>
            <div class="paginator-wrapper center" ng-class="{'hidden': (recommandationLoading || recCount < recPageSize)}">
                <pagination total-items="recCount" items-per-page="recPageSize" ng-model="recPageIndex"
                            ng-change="recPageChanged()"></pagination>
            </div>
        </div>
    </div>
</div>