<div id="blackBar" class="small">
    <div class="container">
        <h1>{{'reservation.title' | translate}}</h1>
    </div>
</div>
<div id="resaContainer" class="container">
    <div class="row">
        <div class="col-md-1 col-lg-1">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="bordered-block">
                <div>
                    <div id="studentCol">
                        <div id="studentPhoto" class="profilePhoto">
                            <img class="profile-pins" ng-src="/images/pins.png" ng-show="myprofile.photo"/>
                            <img class="profile-photo" ng-src="{{myprofile.photo}}" ng-show="myprofile.photo"/>
                            <i class="fa fa-user" ng-show="!myprofile.photo"></i>
                        </div>
                        <div id="studentInfo">
                            <h3 class="f-20">{{myprofile.firstname}}</h3>
                            <span class="light-title">
                                {{myprofile.city.address_components[0].long_name}} ({{myprofile.city.address_components[3].long_name}})
                            </span>
                        </div>
                    </div>
                    <div id="teacherCol">
                        <div id="teacherPhoto" class="profilePhoto">
                            <img class="profile-pins" ng-src="/images/pins.png" ng-show="profile.photo"/>
                            <img class="profile-photo" ng-src="{{profile.photo}}" ng-show="profile.photo"/>
                            <i class="fa fa-user" ng-show="!profile.photo"></i>
                        </div>
                        <div id="teacherInfo">
                            <h3 class="f-20">{{profile.firstname}}</h3>
                            <span class="light-title">
                                {{profile.city.address_components[0].long_name}} ({{profile.city.address_components[3].long_name}})
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bordered-block">
                <div class="p-20">
                    <form id="resaForm" ng-submit="createReservation()" ng-if="status != 1">

                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">



                                <!-- Formule -->
                                <div class="form-group" ng-if="reservation.formula != null" id="formula-wrapper">
                                    <label>{{'reservation.form.formula' | translate}}</label>
                                    <div>
                                        <h4 class="blue-title f-14">{{reservation.formula.name[currentLocale]}}</h4>

                                        <p class="grey-text">{{reservation.formula.description[currentLocale]}},
                                            {{reservation.formula.price}}€</p>
                                    </div>
                                </div>




                                <div ng-if="reservation.formula == null">



                                    <!--Formation-->
                                    <div class="form-group">
                                        <label>Quelle formation ?</label>

                                        <ui-select id="select-formation" ng-model="reservation.formation" theme="bootstrap" style="width: 100%;">
                                            <ui-select-match placeholder="{{'reservation.form.formation' | translate}}">
                                                {{$select.selected.name[currentLocale]}}
                                            </ui-select-match>
                                            <ui-select-choices id="select-formation-choices" repeat="formation in profile.formations">
                                                <div ng-bind-html="formation.name[currentLocale]"></div>
                                            </ui-select-choices>
                                        </ui-select>

                                        <div class="alert alert-warning" role="alert" ng-if="submitted && reservation.formation == null">
                                            {{'reservation.warning.formation' | translate}}
                                        </div>
                                    </div>


                                    <!-- Durée -->
                                    <div class="form-group">
                                        <label>Quelle durée ?</label>
                                        <ui-select id="select-duration" ng-model="reservation.hourCount" theme="bootstrap" style="width: 100%;">
                                            <ui-select-match placeholder="{{'reservation.form.duration' | translate}}">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices id="select-duration-choices" repeat="duration in durations">
                                                <div ng-bind-html="duration.name"></div>
                                            </ui-select-choices>
                                        </ui-select>

                                        <div class="alert alert-warning" role="alert" ng-if="submitted && reservation.hourCount == null">
                                            {{'reservation.warning.duration' | translate}}
                                        </div>
                                    </div>
                                </div>





                                <!--Hébergement-->
                                <div class="form-group" ng-if="profile.activeAccomodation">
                                    <label>{{'reservation.form.accomodation' | translate}}</label>

                                    <div class="inline fright">
                                        <label class="radio-inline">
                                            <input type="radio" ng-value="true" ng-model="reservation.accomodation">
                                            {{'reservation.form.yes' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-value="false" ng-model="reservation.accomodation">
                                            {{'reservation.form.no' | translate}}
                                        </label>
                                    </div>
                                    <div class="alert alert-warning" role="alert" ng-if="submitted && reservation.accomodation == null">
                                        {{'reservation.warning.accomodation' | translate}}
                                    </div>
                                </div>





                                <!-- Activité extra -->
                                <div class="form-group">
                                    <label>{{'reservation.form.activity' | translate}}</label>

                                    <div class="inline fright">
                                        <label class="radio-inline">
                                            <input type="radio" ng-value="true" ng-model="reservation.activity">
                                            {{'reservation.form.yes' | translate}} </label> <label class="radio-inline">
                                            <input type="radio" ng-value="false" ng-model="reservation.activity">
                                            {{'reservation.form.no' | translate}} </label>
                                    </div>

                                    <div class="alert alert-warning" role="alert" ng-if="submitted && reservation.activity == null">
                                        {{'reservation.warning.activity' | translate}}
                                    </div>
                                </div>





                                <!-- Message -->
                                <div class="form-group">
                                    <label>{{'reservation.form.message' | translate}}</label>
                                    <textarea class="form-control" ng-model="reservation.message" placeholder="{{'reservation.form.message.placeholder' | translate}}" rows="3" id="message"></textarea>
                                    <div class="alert alert-danger" role="alert" ng-if="status == -1">
                                        {{'reservation.error' | translate}}
                                    </div>
                                </div>


                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                                <!-- Date -->
                                <div class="form-group">
                                    <label>Quel jour ?</label>
                                    <multiple-date-picker id="datePicker" disable-days-before="today" disallow-back-past-months="true" class="with-select" days-selected="selectedDays" day-click="dayClick" highlight-days="profile.schedules[scheduleIndex].undispos" month-changed="onMonthChanged"/>
                                    <div class="alert alert-warning" role="alert" ng-if="submitted && selectedDays == null">
                                        {{'reservation.warning.date' | translate}}
                                    </div>
                                </div>




                                <!-- Heure -->
                                <div>
                                    <label>Quelle heure ?</label>
                                    <timepicker ng-model="resaHour" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required="true"></timepicker>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <button id="submitResaBtn" type="submit" class="btn btn-default blue-btn p-10 center-block">
                            <i class="fa fa-plus"></i>
                            <span class="lm-10">{{'reservation.button.create' | translate}}</span>
                        </button>
                    </form>
                    <div class="SEL_resaStatus alert alert-success m-0" role="alert" ng-if="status == 1">
                        {{'reservation.success' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-1"></div>
    </div>
</div>