<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline p-10">Suivi des réservations <i ng-show="loading == true" class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="row" layout-align="start center" layout-padding>
            <span class="p-5">Sur l'année</span>
            <md-select ng-model="filters.year" aria-label="Choix de l'année" ng-change="loadDatas()">
                <md-option ng-value="2017">2017</md-option>
                <md-option ng-value="2016">2016</md-option>
                <md-option ng-value="2015">2015</md-option>
            </md-select>
        </div>

        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
        </canvas>
    </md-card-content>
</md-card>
