<div class="btn-panel">
	<span class="btn btn-default btn-file">
		Browse
		<input type="file" id="fileInput" />
	</span>
	<button type="button" class="btn btn-default" ng-click="upload()" ng-show="uploadable">Upload</button>
</div>
<hr/>
<div class="row" ng-show="!uploading">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="img-wrapper">
			<label>Recadrer votre image:</label>
			<div class="cropArea">
				<img-crop image="myImage" result-image="myCroppedImage" area-type="square"></img-crop>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="img-wrapper">
			<label>Image recadrer:</label>
			<div class="croppedArea">
				<img ng-src="{{myCroppedImage}}" />
			</div>
		</div>
	</div>
</div>

<div ng-show="uploading">
	<div class="progress">
	  <progressbar max="100" value="progress" type="{{progressBarType}}"><b>{{progress}}%</b></progressbar>		
	</div>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<hr/>