<button type="button" id="btn-upload_{{$id}}" class="btn btn-default {{icon}}" data-toggle="modal" data-backdrop="static" data-keyboard="false"
        data-target="#dlg-upload_{{$id}}" ng-click="reset()"> {{text}}
</button>
<div class="modal" id="dlg-upload_{{$id}}" tabindex="-1" role="dialog" aria-labelledby="dlg-upload_{{$id}}"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{'uploader.title' | translate}}</h4>
            </div>
            <div class="modal-body uploader-wrapper">
                <div class="row" ng-show="!uploading">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="img-wrapper crop">
                            <label>{{'uploader.crop' | translate}}</label>

                            <div class="cropArea">
                                <img-crop image="myImage" result-image="myCroppedImage" area-type="square" result-image-size="resultSize"></img-crop>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="img-wrapper">
                            <label>{{'uploader.result' | translate}}</label>

                            <div class="croppedArea">
                                <img ng-src="{{myCroppedImage}}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="uploading">
                    <progressbar max="100" value="progress" type="{{progressBarType}}"><b>{{progress}}%</b>
                    </progressbar>
                </div>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
                </alert>
            </div>
            <div class="modal-footer center">
		        <span class="btn btn-default btn-file">
                    <i class="fa fa-folder-open-o"></i>
                    {{'uploader.browse' | translate}}
				    <input type="file" id="fileInput{{$id}}"/>
				</span>
                <button id="upload-btn" type="button" class="btn blue-btn" ng-click="upload()" ng-show="uploadable"><i
                        class="fa fa-cloud-upload"></i>{{'uploader.upload'
                    | translate}}
                </button>
            </div>
        </div>
    </div>
</div>