<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>TooFrench</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="FuXdS9LJrGkr4bqRye3L_p698wyudQhKbYOJ6ye-c0c" />

    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!--STYLES VENDORS-->
    <link rel="stylesheet" href="/min/production-vendors.min.css">
    <!--STYLES VENDORS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->
</head>
<body ng-app="tooFrenchApp" ng-controller="ApplicationController">


<!--
        BEGIN: App-Loading Screen.
        --
        Until the AngularJS application code is loaded and bootstrapped, this is just
        "static HTML." Meaning, the [class-based] directive, "mAppLoading", won't
        actually do anything until the application is initialized. As such, we'll give
        it just enough CSS to "fail open"; then, when the AngularJS app loads, the
        directive will run and we'll remove this loading screen.

        NOTES ON ANIMATION:

        When the AngularJS application is loaded and starts bootstrapping, all
        animations are disabled until all the routing information and templating
        information is loaded AND at least two digests have run (in order to prevent
        a flurry of animation activity). As such, we can't animate the root of the
        directive. Instead, we have to add "ngAnimateChildren" to the root element
        and then animate the inner container. The "ngAnimateChildren" directive allows
        us to override the animation-blocking within the bounds of our directive, which
        is fine since it only runs once.
    -->
<div class="m-app-loading" ng-animate-children>

    <!--
        HACKY CODE WARNING: I'm putting Style block inside directive so that it
        will be removed from the DOM when we remove the directive container.
    -->
    <style type="text/css">

        div.m-app-loading {
            position: fixed;
            z-index: 1000;
        }

        div.m-app-loading div.animated-container {
            background-color: #fff;
            bottom: 0px;
            left: 0px;
            opacity: 1.0;
            position: fixed;
            right: 0px;
            top: 0px;
            z-index: 999999;
        }

        div.m-app-loading div.animated-container.ng-leave {
            opacity: 1.0;
            transition: all linear 200ms;
            -webkit-transition: all linear 200ms;
        }

        /* Used to set the end properties of the ng-leave animation state. */
        div.m-app-loading div.animated-container.ng-leave-active {
            opacity: 0;
        }

        div.m-app-loading div.messaging {
            color: #666;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            left: 0px;
            margin-top: -37px;
            position: absolute;
            right: 0px;
            text-align: center;
            top: 40%;
        }

        div.m-app-loading h1 {
            font-size: 26px;
            line-height: 35px;
            margin: 0px 0px 20px 0px;
        }

        div.m-app-loading h1 i {
            font-size: 2em;
            vertical-align: middle;
            padding: 10px;
            color: #666;
        }

        div.m-app-loading i {
            color: #04bfc6;
            font-size: 3em;
        }

    </style>


    <!-- BEGIN: Actual animated container. -->
    <div class="animated-container">

        <div class="messaging">
            <div class="p-20">
                <img src="images/logo.png">
            </div>
            <i id="loader" class="fa fa-circle-o-notch fa-spin"></i>
        </div>

    </div>
    <!-- END: Actual animated container. -->

</div>
<!-- END: App-Loading Screen. -->


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->

<nav id="header" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand" ui-sref="home"><img src="images/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse right" id="bs-example-navbar-collapse-1">




            <!-- Header menu -->
            <ul id="left" class="nav navbar-nav">
                <li>
                    <a ui-sref="learn" class="basic-link" ui-sref-active="active">{{'header.learn' | translate}}</a>
                </li>
                <li>
                    <a ui-sref="teach" class="basic-link" ui-sref-active="active">{{'header.teach' | translate}}</a>
                </li>
                <li>
                    <a ui-sref="forum" id="link-forum" class="basic-link" ui-sref-active="active" ng-if="session.authenticated">{{'header.forum' | translate}}</a>
                </li>
                <li>
                    <a ui-sref="admin" class="basic-link" ui-sref-active="active" ng-if="isAdmin">{{'header.admin' |
                        translate}}</a>
                </li>
                <li class="dropdown" ng-controller="TranslateCtrl">
                    <a id="current-language" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"><img ng-src="images/languages/{{currentLocale}}.png"/><span
                            class="caret"></span></a>
                    <ul id="language-dropdown" class="dropdown-menu" role="menu">
                        <li><a ng-click="changeLanguage('frFR')"><img src="images/languages/frFR.png"/></a></li>
                        <li><a ng-click="changeLanguage('enUS')"><img src="images/languages/enUS.png"/></a></li>
                        <li><a ng-click="changeLanguage('esES')"><img src="images/languages/esES.png"/></a></li>
                    </ul>
                </li>
            </ul>


            <!-- Login input fields -->
            <login-input></login-input>


            <!-- Report bug button trigger modal -->
            <a ui-sref="contact({theme : 'bug'})" class="reportBugBtn" ng-if="session.authenticated">
                {{'header.report.bug' | translate}}
            </a>

            <!-- AUTHENTICATED HEADER PANEL -->
            <ul id="user-menu" class="nav navbar-nav navbar-right" ng-if="session.authenticated"
                ng-controller="NotificationCtrl">
                <li>
                    <a id="link-myteachers" ui-sref="myteachers" title="{{'myteachers.title' | translate}}">
                        <i class="fa fa-star"></i>
                    </a>
                </li>
                <li>
                    <a ui-sref="planning" id="link-planning" title="{{'planning.title' | translate}}">
                        <i class="fa fa-pencil-square-o"></i>
                        <span class="badge" ng-show="notifResaCount > 0">{{notifResaCount}}</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="messagerie" id="link-message" title="{{'messagerie.title' | translate}}">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge" ng-show="notifMsgCount > 0">{{notifMsgCount}}</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="myprofile" id="link-myprofile" title="{{'myprofile.title' | translate}}">
                        <img id="user-menu-photo" ng-src="{{session.profile.photo}}"
                             ng-show="session.profile && session.profile.photo"/>
                        <i id="user-menu-photo-icon" class="fa fa-user"
                           ng-show="!session.profile || !session.profile.photo"></i>
                    </a>
                </li>
                <li id="user-menu-dropdown" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="myprofile">{{'header.myprofile' | translate}}</a></li>
                        <li><a ui-sref="parameters">{{'header.parameters' | translate}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()">{{'header.logout' | translate}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <!-- DIPLOMA ALERT -->
    <div id="alert-diploma"
         ng-if="session.authenticated && isTeacher && !session.diploma.diplomaValidated && currentState != 'myprofile'">
        <div class="container center">
            <span ng-if="!session.diploma.diplomaUploaded && ! session.diploma.diplomaValidated">{{'diploma.not.uploaded' | translate}} <a
                    ui-sref="myprofile">{{'diploma.not.uploaded.link' | translate}}</a></span>
            <span ng-if="session.diploma.diplomaUploaded && ! session.diploma.diplomaValidated">{{'diploma.label.validating' | translate}}</span>
        </div>
    </div>


    <!-- SEARCH PANEL -->
    <div id="searchBar" ng-controller="SearchBarCtrl">
        <form class="form-inline" style="max-width:700px;margin:0 auto;" ng-submit="search();">
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group right">
                        <div class="btn-group">


                            <!-- Show dipo button -->
                            <button id="search-calendar" class="btn btn-default dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-calendar"></span> <span class="hidden-xs hidden-sm">{{'search.dispo' | translate}}</span>
                            </button>


                            <!-- Disponibilities -->
                            <div id="search-date-wrapper" class="dropdown-menu" role="menu">
                                <div>
                                    <multiple-date-picker class="without-select" day-click="onDayClick"
                                                          highlight-days="schedules[scheduleIndex].undispos"
                                                          month-changed="onMonthChanged"/>
                                </div>
                                <div id="schedule-legend">
                                    <div class="left p-10">
                                        <img src="../images/am.png" class="legend-images"><span class="legend-text">{{'myprofile.calendar.legend.am' | translate}}</span>
                                    </div>
                                    <div class="left p-10">
                                        <img src="../images/pm.png" class="legend-images pm"><span class="legend-text">{{'myprofile.calendar.legend.pm' | translate}}</span>
                                    </div>
                                    <div class="left p-10">
                                        <div class="legend-images day"></div>
                                        <span class="legend-text">{{'myprofile.calendar.legend.day' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Search by city input field -->
                <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
                    <div class="form-group">
                        <input id="search-text" type="text" class="form-control" g-places-autocomplete ng-model="city"
                               placeholder="{{'search.city' | translate}}" options="optionsCity" force-selection="true" required="true"/>
                    </div>
                </div>


                <!-- Search button -->
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <button id="search-btn" type="submit" class="btn btn-default"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>

<div ui-view id="main-container" class="anim-in-out anim-fade" data-anim-speed="500" data-anim-sync="true"></div>

<div id="footer" class="footer">
    <div class="container">

        <div id="first-row" class="row">
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 left">
                <p id="cometsens">{{'footer.realisation' | translate}} <a href="http://www.comessence.net" target="_blank">www.comessence.net</a>
                </p>
            </div>
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 center">
                <p id="toofrench">TooFrench.net © 2015</p>
            </div>
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 right">
                <!--button id="btn-share" class="btn btn-default mv-10"><i class="fa fa-facebook"></i>Partager</button-->
            </div>


            <!-- Extra small device footer -->
            <div class="visible-xs col-xs-12 center">
                <p id="cometsens">Réalisation <a href="http://www.comessence.net" target="_blank">www.comessence.net</a>
                </p>
            </div>
            <div class="visible-xs col-xs-12 center">
                <p id="toofrench">TooFrench.net © 2015</p>
            </div>
            <div class="visible-xs col-xs-12 center">
                <!--button id="btn-share" class="btn btn-default mv-10"><i class="fa fa-facebook"></i>Partager</button-->
            </div>
        </div>

    </div>
    <div id="second-row">
        <div class="container">
            <div class="row center">
                <a ui-sref="home">{{'footer.home' | translate}}</a>
                <a ui-sref="learn">{{'footer.learn' | translate}}</a>
                <a ui-sref="teach">{{'footer.teach' | translate}}</a>
                <a ui-sref="forum">{{'footer.forum' | translate}}</a>
                <a ui-sref="faq">{{'footer.faq' | translate}}</a>
                <a ui-sref="mentions">{{'footer.mentions' | translate}}</a>
                <a ui-sref="contact">{{'footer.contact' | translate}}</a>
                <a ui-sref="informations">{{'footer.informations' | translate}}</a>
            </div>
        </div>
    </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66923571-1', 'auto');
    ga('send', 'pageview');

</script>
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->



<!--SCRIPTS VENDORS-->
<script src="/min/production-vendors.min.js"></script>
<!--SCRIPTS VENDORS END-->

<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="libs/multiple-date-picker/multipleDatePicker.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
<script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>



<!--SCRIPTS-->
<script src="/min/production.min-0-1-0.js"></script>
<!--SCRIPTS END-->
</body>
</html>