<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/calendar.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/uploader.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/app.js"></script>
    <script src="/js/cloudinary.config.js"></script>
    <script src="/js/controllers/about.js"></script>
    <script src="/js/controllers/admin.js"></script>
    <script src="/js/controllers/admin/diplomas.js"></script>
    <script src="/js/controllers/admin/equipments.js"></script>
    <script src="/js/controllers/admin/extras.js"></script>
    <script src="/js/controllers/admin/formations.js"></script>
    <script src="/js/controllers/admin/forum.js"></script>
    <script src="/js/controllers/admin/recommandations.js"></script>
    <script src="/js/controllers/admin/users.js"></script>
    <script src="/js/controllers/admin/utillinks.js"></script>
    <script src="/js/controllers/contact.js"></script>
    <script src="/js/controllers/diploma.js"></script>
    <script src="/js/controllers/favlist.js"></script>
    <script src="/js/controllers/formcontact.js"></script>
    <script src="/js/controllers/forum/forum-create-post.js"></script>
    <script src="/js/controllers/forum/forum-post.js"></script>
    <script src="/js/controllers/forum/forum.js"></script>
    <script src="/js/controllers/home.js"></script>
    <script src="/js/controllers/login.js"></script>
    <script src="/js/controllers/main.js"></script>
    <script src="/js/controllers/messagerie.js"></script>
    <script src="/js/controllers/myprofile.js"></script>
    <script src="/js/controllers/notifications.js"></script>
    <script src="/js/controllers/parameters.js"></script>
    <script src="/js/controllers/planning.js"></script>
    <script src="/js/controllers/profile.js"></script>
    <script src="/js/controllers/recommandations.js"></script>
    <script src="/js/controllers/register.js"></script>
    <script src="/js/controllers/reservation.js"></script>
    <script src="/js/controllers/search.js"></script>
    <script src="/js/controllers/searchBar.js"></script>
    <script src="/js/controllers/temp/uploader.js"></script>
    <script src="/js/controllers/translate.js"></script>
    <script src="/js/controllers/uploadPhoto.js"></script>
    <script src="/js/directives/contact-teacher.js"></script>
    <script src="/js/directives/directives.js"></script>
    <script src="/js/directives/login.js"></script>
    <script src="/js/directives/uploader.js"></script>
    <script src="/js/services/auth.js"></script>
    <script src="/js/services/diplomas.js"></script>
    <script src="/js/services/equipment.js"></script>
    <script src="/js/services/extra.js"></script>
    <script src="/js/services/formation.js"></script>
    <script src="/js/services/formationlevel.js"></script>
    <script src="/js/services/messagerie.js"></script>
    <script src="/js/services/post.js"></script>
    <script src="/js/services/postcategory.js"></script>
    <script src="/js/services/profile.js"></script>
    <script src="/js/services/recommandation.js"></script>
    <script src="/js/services/reservation.js"></script>
    <script src="/js/services/schedule.js"></script>
    <script src="/js/services/service.js"></script>
    <script src="/js/services/socket.js"></script>
    <script src="/js/services/userFavList.js"></script>
    <script src="/js/services/users.js"></script>
    <script src="/js/services/utillink.js"></script>
    <script src="/js/vendors/10.angular-route.js"></script>
    <script src="/js/vendors/11.angular-sanitize.js"></script>
    <script src="/js/vendors/12.angular-touch.js"></script>
    <script src="/js/vendors/13.angular-ui-router.js"></script>
    <script src="/js/vendors/2.cloudinary.js"></script>
    <script src="/js/vendors/5.angular-translate.js"></script>
    <script src="/js/vendors/6.angular-translate-files.js"></script>
    <script src="/js/vendors/7.angular-animate.js"></script>
    <script src="/js/vendors/8.angular-coockie.js"></script>
    <script src="/js/vendors/9.angular-resource.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
