<div class="row">
    <h2 class="center">{{'parameters.password.title' | translate}}</h2>

    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
    <div class="p-10 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form>
            <div ng-if="success == -1">
                <div class="input-group m-10">
                    <span class="input-group-addon" id="previous">{{'parameters.password.old' | translate}}</span>
                    <input type="password" class="form-control" placeholder="{{'parameters.password.old' | translate}}"
                           aria-describedby="previous"
                           ng-model="cred.previousPassword">
                </div>
                <div class="input-group m-10">
                    <span class="input-group-addon" id="newPass">{{'parameters.password.new' | translate}}</span>
                    <input type="password" class="form-control" placeholder="{{'parameters.password.new' | translate}}"
                           aria-describedby="newPass"
                           ng-model="cred.password">
                </div>
                <div class="input-group m-10">
                    <span class="input-group-addon"
                          id="confirmPass">{{'parameters.password.confirm' | translate}}</span>
                    <input type="password" class="form-control"
                           placeholder="{{'parameters.password.confirm' | translate}}"
                           aria-describedby="confirmPass" ng-model="cred.confirmPassword">
                </div>
                <div class="p-10 center">
                    <button class="btn btn-primary" ng-click="changePassword()">
                        <span class="fa fa-save"></span> <span>{{'parameters.password.validate' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="alert" ng-class="{'alert-danger' : success == -1, 'alert-success' : success==1}"
                 role="alert" ng-if="message != null">{{message}}
            </div>
        </form>
    </div>
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
</div>