<div id="login-wrapper" ng-if="!session.authenticated">
    <form id="loginForm" name="formLogin" role="form" class="form-inline"
          ng-controller="LoginCtrl">
        <div id="input-group-email" class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input id="input-email" ng-model="credential.email" type="text" name="username"
                   placeholder="{{'header.login.email' | translate}}" ng-required="true" class="form-control">
            <span class="error" ng-show="formLogin.username.$error.required"></span>
        </div>

        <div id="input-group-pwd" class="input-group">
            <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
            <input id="input-pwd" ng-model="credential.pwd" type="password" name="password"
                   placeholder="{{'header.login.password' | translate}}" ng-required="true" class="form-control">
            <span class="error" ng-show="formLogin.password.$error.required"></span>
        </div>

        <button id="login-btn" ng-click="login()" type="submit" class="btn blue-btn">Connexion</button>

        <div class="alert alert-danger" role="alert" ng-show="message">{{message}}</div>
        <a ui-sref="forgottenPassword" ng-show="message">{{'header.forgottenPassword' | translate}}</a>

        <button id="register-btn" ng-if="!session.authenticated" type="button" ui-sref="register"
                class="btn btn-default orange-btn" ui-sref-active="active">{{'header.register' | translate}}
        </button>

    </form>
</div>