<% include ../header.ejs %>

<p><%- __('mail.message.new.content', authorName) %></p>

<div style="border:1px solid #aaa;padding:5px;border-radius:3px;">
    <%= messageContent %>
</div>
<p><%- __('mail.message.new.footer', 'https://toofrench.herokuapp.com/') %></p>




<% include ../footer.ejs %>