</div>
<div style="padding:10px;">
    <p><%= __('mail.general.footer.1') %></p>
</div>
<div style="background:#eee;padding:10px;">
    <p><%- __('mail.general.footer.2', 'https://toofrench.herokuapp.com/') %></p>
</div>
</div>
</body>