<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            color: #333;
        }

        p {
            color: #444;
        }

        h1, p {
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<div style="max-width:600px;margin:0 auto;">
    <div style="text-align:center;">
        <img src="https://toofrench.herokuapp.com/images/logo.png">
    </div>
    <div style="height:40px;background:#04bfc6;">

    </div>
    <div style="padding:10px;">
        <p><%- __('mail.general.header', userName) %></p>