<style>\n h1 {
        \n color: #333;
        \n
    }

    \n p {
        \n color: #444;
        \n
    }

    \n h1, p {
        \n font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        \n
    }

    \n</style>\n
<div style=\"max-width:600px;margin:0 auto;\">\n
<div style=\"text-align:center;\">\n <img src=\"https://toofrench.herokuapp.com/images/logo.png\">\n</div>\n
<div style=\"height:40px;background:#04bfc6;\">\n\n</div>\n
<div style=\"padding:10px;\">\n <h1>Vous avez reçu un message de test2</h1>\n <p>&lt;p&gt;Bounjour test,&lt;/p&gt;&lt;p&gt;Vous
        avez reçu un message de test2.&lt;/p&gt;</p>\n <p>Pour le consulter, cliquez &lt;a href=&#39;https://toofrench.herokuapp.com/&#39;&gt;ici&lt;/a&gt;</p>
    \n
</div>\n
<div style=\"padding:10px;\">\n <p>L&#39;équipe TooFrench</p>\n</div>\n
<div style=\"background:#eee;padding:10px;\">\n <p>Si vous ne désirez plus recevoir ces messages cliquez &lt;a href=&#39;https://toofrench.herokuapp.com/#/settings/notification&#39;&gt;ici&lt;/a&gt;</p>
    \n
</div>\n</div>