<div id="blackBar" class="small">
    <div class="container">
        <h1>{{'parameters.title' | translate}}</h1>
    </div>
</div>
<div class="container">
    <ul class="nav nav-pills vm-10">
        <li role="presentation" ui-sref-active="active"><a ui-sref="parameters.notifications">{{'parameters.menu.notif' | translate}}</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="parameters.password">{{'parameters.menu.password' | translate}}</a></li>
    </ul>
    <div class="bordered-block">
        <div class="p-10" ui-view>

        </div>
    </div>
</div>