.schedule-loading{
    visibility: hidden;
}

.with-select .picker-day.picker-selected {
  background: #FFFECF;
  color: #666!important;
}

.with-select .picker-day:not(.picker-off):not(.picker-empty):not(.picker-selected):not(.day):hover {
  background-color: #04bfc6;
  opacity:0.7;
  color: #000;
  cursor: pointer;
}

.without-select .picker-day:not(.picker-off):not(.picker-empty):not(.picker-selected):not(.day):hover {
  background-color: #04bfc6;
  opacity:0.7;
  color: #000;
  cursor: pointer;
}

.without-select .picker-day.picker-selected {
  background: #fff;
  color: #000;
}

.picker-day.am:hover, .picker-day.pm:hover, .picker-day.day:hover{
  opacity:0.7;
  cursor: pointer;
}

.picker-day.am {
  background: url('../images/am.png') !important;
  background-size: 100% 100% !important;
  background-position: 50% !important;
  background-color: #d7d7d7!important;
  color: #fff !important;
  font-weight: bold;
  cursor: default;
}

.picker-day.pm {
  background: url('../images/pm.png') !important;
  background-size: 100% 100% !important;
  background-position: 50% !important;
  background-color: #d7d7d7!important;
  color: #fff !important;
  font-weight: bold;
  cursor: default;
}

.picker-day.day {
  background: #d7d7d7 !important;
  color: #fff !important;
  font-weight: bold;
  cursor: default;
}

.picker-day:not(.picker-off):not(.picker-empty):hover {
  background-color: #04bfc6;
  color: #000;
  cursor: pointer;
  opacity:0.7;
}

.picker-day:not(.picker-empty){
  background-color: #04bfc6;
  border: 1px solid #eeeeee;
  color:#fff;
  font-weight: bold;
}