.picker-day.picker-selected{
  background: #fff;
  color:#000;
}

.picker-day.am{
    background: url('../images/am.jpg');
    background-size: 100% 100%;
    background-position:50%;
    color: #fff;
    cursor: default;
}

.picker-day.pm{
  background: url('../images/pm.jpg');
  background-size: 100% 100%;
  background-position:50%;
  color: #fff;
  cursor: default;
}

.picker-day.day{
  background: #04bfc6;
  color: #fff;
  cursor: default;
}

.picker-day.day:hover{
  background: #04bfc6;
}

.picker-day:not(.picker-off):not(.picker-empty):hover {
  background-color: #E2FBFC;
  color: #000;
  cursor: pointer;
}