@light-blue: #04bfc6;
@orange:#fe8d13;
@dark-gray:#4e4e4e;
@gray:#818181;
@light-gray:#999999;
@very-light-gray:#DDDDDD;
@green:#00db05;
@light-green:#00ff06;

/* INIT */

body{
	background: #f6f6f6;
}

.navbar{
	margin:0;
	border:none;
}


/* HEADER */

#logo{
	color:@dark-gray;
}

#header{
	background-color:#fff;
	.basic-link{		
		color:@dark-gray;
		font-family: 'arial';
		font-size: 12px;
		font-weight: bold;
		background:none!important;
	}
	.basic-link:hover{
		color:@light-blue;
	}
	.basic-link.active{
		color:@light-blue;
	}
	.btn{
		font-family: 'arial';
		font-size: 12px;
		font-weight: bold;
	}
	#current-language{
		img{
			padding-right:5px;
		}
	}
	#language-dropdown{
		min-width: 60px;
	}
}

#searchBar{
	background-color:@light-blue;
	height:60px;
	padding: 13px;
	.container{
		text-align: center;
		input{
			color:@light-blue;
		}
		input::-webkit-input-placeholder{
			color:@light-blue;	
		}
		input:-moz-placeholder{
			color:@light-blue;	
		}
		input::-moz-placeholder{
			color:@light-blue;	
		}
	}
	#search-btn{
		background: none;
		border:1px solid @light-blue;
		font-size: 20px;
		color: #fff;
	}
	#search-btn:hover{
		border:1px solid #fff;
	}
}


#blackBar{
	height:150px;
	background:#000;
}

#blackBar h1, #blackBar p{
	text-align:center;
	color:#fff;
}

/* HOME */
#home-header{
	background-color: #0a0a0a;
	img{
		width:100%;
	}	
}
#home-subheader{
	background-color:@light-blue;
	height:50px;
}

#container-teach-learn{
	margin-bottom: 20px;
	p, h2{
		text-align: center;
	}
	.btn{
		.fa{
			margin-right:5px;
		}
	}
}

#container-concept{
	background-color: #000;
	color:#fff;
	p, h2, h3{
		text-align: center;
	}

	#register-btn{
		.vm-30;
		padding:10px;
		font-size: 28px;
		width: 280px;
		font-weight: bold;
		text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.35);
	}
	#register-btn:before{
		content:'>';
		padding-right: 20px;
	}
	#register-btn:after{
		content:'<';
		padding-left: 20px;
	}
}


/* LOGIN */
#loginForm{
	
	.btn-wrapper{
		width:350px;
		border:1px solid @light-gray;
		background-color:#fff;
		border-radius:5px;	
		border-radius:5px 0 0 5px;
	}
	#input-email{
		border-right:1px solid @light-gray!important;
	}
	input{
		display: inline-block;
		background:none;
		border:none;
		width:140px;
		border-radius: 0;
		.no-box-shadow;
	}
	#login-btn{		
		border-radius:0 3px 3px 0;
		margin:0!important;
		position: relative;
		left: -35px;
		height: 36px;
		.blue-btn;
	}
	#login-btn:hover{
		background-color:#fff;
		color:@light-blue;
	}
	#register-btn{
		margin-left:20px;
	}
	.fa-user{
		padding-left:10px;
		color:@light-gray;		
	}
	.alert{
		padding:0;
		background:none;
		border:none;
	}
}




/* REGISTER */

#registerPanel{
	#left{

	}	
	#right{
		border-left:1px solid @very-light-gray;
		padding:20px;
		
		.btn-register{
			border:1px solid @light-blue;
			.border-radius-3;
			padding:15px;
			width:90%;
			input{
				margin:0 20px 0 10px;
				vertical-align:middle;
			}
		}

		#formRegister{
			margin-top:20px;
			width:70%;
		}
	}	
}




/* LEARN */
#learn-container{
	background-color: #fff;
	padding-bottom:50px;
	#learn-header{
		width: 80%;
		height: 200px;
		border:5px solid #ebebeb;
		background-color: #fff;
		margin-top: -50px;
		#vignet{
			float:left;
			position: absolute;
			margin-left: -40px;
			margin-top: -40px;
		}		
		ul{
			list-style:none;
			text-align: center;
			li{
				img{
					margin-right:10px;
				}
				font-family: arial;				
				font-size: 15px;
				color:@dark-gray;
			}
		}
	}
	h2{
		font-family: arial;
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		color:@dark-gray;
	}
	p{		
		text-align: center;
	}
}



/* PROFILE */

#myprofile-container{
	background-color: #fff;
	#profile-right{
		padding:20px;
		hr{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		#profile-header{		
			.row{
				margin:10px 10px 0 10px;				
			}	
			.row > div{
				padding:0;
			}		
			#btns-wrapper{
				float:right;
			}
			#btns-wrapper > button{
				width:100px;
			}
			#btns-wrapper > button:before{
				padding-right:5px;
			}
			#motivation-panel{
				padding:10px;
				border:1px solid #ddd;
				background-color: #eee;
				margin: 0 10px 10px 10px;				
				.editable-textarea{
					width:100%;
					.editable-controls{
						width:100%;
						textarea{
							resize: none;
						}
					}
					.editable-buttons{
						display: block;
						text-align: center;
						padding: 10px;
					}
				}
			}
			#profilePhoto{
				width: 150px;
				padding: 5px;
				text-align: center;
				i{
					font-size: 100px;
				}
			}
		}
	}

	.angular-google-map-container { height: 400px; }

	.accomodationCarousel{
		.carousel-control.right, .carousel-control.left{
			background: none;
			color:#222;
		}
	}

	#accomodationAdressInput{
		width:90%;
		display: inline-block;
	}
}


#profile-container{
	#profile-right{
		padding:20px;
		
		#profile-header{
			.row{
				margin:10px 10px 0 10px;				
			}	
			.row > div{
				padding:0;
			}		
			#btns-wrapper{
				float:right;
			}
			#btns-wrapper > button{
				width:100px;
			}
			#btns-wrapper > button:before{
				padding-right:5px;
			}
			#motivation-panel{
				padding:10px;
				border:1px solid #ddd;
				background-color: #eee;		
				margin: 0 10px 10px 10px;		
			}
			#profilePhoto{
				width: 150px;
				padding: 8px 8px 25px 8px;
				text-align: center;
				border-radius:0;
				i{
					font-size: 100px;
				}
				-moz-box-shadow: 0px 0px 3px 0px #656565;
				-webkit-box-shadow: 0px 0px 3px 0px #656565;
				-o-box-shadow: 0px 0px 3px 0px #656565;
				box-shadow: 0px 0px 3px 0px #656565;
				filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=3);
			}
			#userName{
				margin-top: 0;
				margin-bottom: 0;
				color:@light-blue;
				font-weight: bold;
			}
			.optionList{
				font-size:12px;
			}
			.optionList > div:before{
				padding-right:5px;
			}
		}
		h4{
			font-weight:bold;
			font-size:17px;
		}
		h5{
			font-weight:bold;
			margin-top: 0;
		}
		#level{
			font-size: 15px;
			font-weight: bold;
			color: @dark-gray;
		}
		#address{
			color:@gray;
		}
		.blackTitle{

		}
		#hourRateLabel{
			color:@light-blue;
		}
		#hourRate{
			color:@gray;
		}
		.formulaTitle{
			color:@light-blue;	
		}
		.formuleBtns .btn{
			width: 120px;
			padding: 5px;
			font-weight:bold;
		}
		.angular-google-map-container { height: 400px; }
		.accomodationCarousel{
			.carousel-control.right, .carousel-control.left{
				background: none;
				color:#222;
			}
		}
	}
}


/* Search results */

#search-results{
	.info-wrapper{
		display:inline-block;
		padding-left:10px;
		h4{
			font-size: 14px;
			margin: 0;
			font-weight: bold;
		}
	}	
	.photo{
		width:80px;
		float:left;
		border:1px solid @gray;
	}
	.firstname{
		color:@light-blue;
		font-weight: bold;
	}
	.formations{
	}
	.extras li{
		margin-right:10px;
	}
}


hr{
	border-top: 1px solid @very-light-gray;
}

/* UTILS */

.bordered-block{
	display:block;
	border:5px solid #ddd;
}

.white-block{
	background-color:#fff;
	.shadow;
	margin-top:50px;
	margin-bottom:50px;
	padding:20px;
}

.border-radius-3{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.shadow{
	-moz-box-shadow: 0px 0px 10px 0px #c0c0c0;
	-webkit-box-shadow: 0px 0px 10px 0px #c0c0c0;
	-o-box-shadow: 0px 0px 10px 0px #c0c0c0;
	box-shadow: 0px 0px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=10);
}

.text-shadow{
	
}

.no-box-shadow{
	box-shadow:none;
	-webkit-box-shadow:none;
}

.blue-btn{
	color:#fff;
	border-color:@light-blue;
	background-color:@light-blue;	
}

.blue-btn:hover{
	color:@light-blue;
	border-color:@light-blue;
	background-color:#fff;	
}

.blue-btn.active{
	color:@light-blue;
	border-color:@light-blue;
	background-color:#fff;	
	.no-box-shadow;
}

.orange-btn{
	color:#fff;
	border-color:@orange;
	background-color:@orange;
}

.orange-btn:hover{
	color:@orange;
	border-color:@orange;
	background-color:#fff!important;	
}

.orange-btn.active{
	color:@orange;
	border-color:@orange;
	background-color:#fff;	
	.no-box-shadow;
}

.green-btn{
	border:none;
	color:#fff;
	background: #00ff06; /* Old browsers */
	background: -moz-linear-gradient(top, #00ff06 0%, #00db05 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00ff06), color-stop(100%,#00db05)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00ff06 0%,#00db05 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00ff06 0%,#00db05 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00ff06 0%,#00db05 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00ff06 0%,#00db05 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff06', endColorstr='#00db05',GradientType=0 ); /* IE6-9 */
}

.green-btn:hover{
	color:#fff;
	border:none;
	background:@green;
}

.green-btn.active{
	color:#fff;
	border:none;
	background:@green;	
	.no-box-shadow;
}

.green2-btn{
	background: @green;
	border:1px solid #4dcc03;
	color:#fff;
}

.green2-btn:hover{
	background: lighten(@green, 20%);
	border:1px solid #4dcc03;
	color:#fff;
}

.center{
	text-align:center;
}

.inline{
	display:inline-block;
}

.p-0{
	padding:0;
}

.p-5{
	padding:5px;
}

.p-10{
	padding:10px;
}

.m-5{
	margin:5px;
}

.m-10{
	margin:10px;
}

.vm-5{
	margin-top:5px;
	margin-bottom:5px;	
}

.vm-10{
	margin-top:10px;
	margin-bottom:10px;	
}

.vm-20{
	margin-top:20px;
	margin-bottom:20px;	
}

.vm-30{
	margin-top:30px;
	margin-bottom:30px;	
}

.hm-5{
	margin-left:5px;
	margin-right:5px;	
}

.hm-10{
	margin-left:10px;
	margin-right:10px;	
}

.hm-20{
	margin-left:20px;
	margin-right:20px;	
}

.hm-30{
	margin-left:30px;
	margin-right:30px;	
}