<h2 style="display:inline-block;">Extras</h2>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" ng-click="createExtra()" data-target="#dlgAddExtra">
<i class="fa fa-plus"></i>
</button>
<ul class="list-group">
	<li ng-repeat="e in extras" class="list-group-item">{{e.name[$parent.lg]}}
		<button type="button" ng-click="selectExtra(e)" data-toggle="modal" data-target="#dlgAddExtra" class="btn btn-default">Edit</button>
		<button type="button" ng-click="deleteExtra(e)" class="btn btn-default">Remove</button>
	</li>
</ul>
<div class="modal fade" id="dlgAddExtra" tabindex="-1" role="dialog" aria-labelledby="dlgAddExtra" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="formAddExtra">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Extra</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="extraName">Nom</label>
						<input type="text" ng-model="extra.name[$parent.lg]" class="form-control" id="extraName" placeholder="Nom" ng-required="true">
					</div>
					<div class="form-group">
						<label for="extraIcon">Nom</label>
						<input type="text" ng-model="extra.icon" class="form-control" id="extraIcon" placeholder="Icon">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="submit" ng-click="saveExtra()" class="btn btn-primary" data-dismiss="modal" ng-disabled="formAddExtra.$invalid">Ajouter</button>
				</div>
			</form>
		</div>
	</div>
</div>