<h2>Recommandations</h2>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" ng-click="createRecommandation()" data-target="#dlgAddRecommandation">
<i class="fa fa-plus"></i>
</button>
<ul class="list-group">
	<li ng-repeat="e in recommandations" class="list-group-item">{{e.title[currentLg]}}
		<button type="button" ng-click="selectRecommandation(e)" data-toggle="modal" data-target="#dlgAddRecommandation" class="btn btn-default">Edit</button>
		<button type="button" ng-click="deleteRecommandation(e)" class="btn btn-default">Remove</button>
	</li>
</ul>
<div class="modal fade" id="dlgAddRecommandation" tabindex="-1" role="dialog" aria-labelledby="dlgAddRecommandation" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="formAddRecommandation">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Recommandation</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="recommandationName">Nom</label>
						<input type="text" ng-model="recommandation.title[currentLg]" class="form-control" id="recommandationName" placeholder="Nom de la recommandation" ng-required="true">

						<div class="form-group">
							<label for="recommandationLink">Lien</label>
							<input type="text" ng-model="recommandation.link" class="form-control" id="recommandationLink" placeholder="Adresse web" ng-required="true">
						</div>

						<div class="form-group">
							<label for="recommandationDesc">Description</label>
							<textarea ng-model="recommandation.description[currentLg]" class="form-control" id="recommandationDesc" placeholder="Description" ng-required="true"></textarea>
						</div>

						<div class="form-group">
							<label for="recommandationCity">Ville</label>
							<input id="recommandationCity" type="text" g-places-autocomplete ng-model="recommandation.city" options="optionsCity" force-selection="true" ng-required="true" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="submit" ng-click="saveRecommandation()" class="btn btn-primary" data-dismiss="modal" ng-disabled="formAddRecommandation.$invalid">Ajouter la recommandation</button>
				</div>
			</form>
		</div>
	</div>
</div>