<div class="row">
    <h2 class="center">{{'parameters.notif.title' | translate}}</h2>

    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
    <div class="p-10 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p>{{'parameters.notif.subtitle' | translate}}</p>

        <div class="checkbox" ng-if="isTeacher">
            <label> <input type="checkbox" ng-model="settings.newReservation"> {{'parameters.notif.newResa' |
                translate}} </label>
        </div>
        <div class="checkbox" ng-if="isStudent">
            <label> <input type="checkbox" ng-model="settings.newReservation">{{'parameters.notif.newResa.student' |
                translate}} </label>
        </div>
        <div class="checkbox">
            <label> <input type="checkbox" ng-model="settings.reservationValidated">{{'parameters.notif.resaValidated' |
                translate}} </label>
        </div>
        <div class="checkbox" ng-if="isStudent">
            <label> <input type="checkbox" ng-model="settings.reservationRefused">{{'parameters.notif.resaRefused' |
                translate}} </label>
        </div>
        <div class="checkbox">
            <label> <input type="checkbox" ng-model="settings.reservationCanceled">{{'parameters.notif.resaCanceled' |
                translate}} </label>
        </div>
        <div class="checkbox">
            <label> <input type="checkbox" ng-model="settings.newMessage">{{'parameters.notif.newMessage' | translate}}
            </label>
        </div>
        <div class="p-10 center">
            <button id="send-msg" class="btn btn-primary" ng-click="save()">
                <span class="fa fa-save"></span>
                <span>{{'parameters.notif.save' | translate}}</span>
            </button>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
</div>