<div layout="column">
    <section layout="row" flex>
        <md-content flex>
            <alex-table id="userDatatable" model="datatable" columns="columns"></alex-table>
        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">{{selected.username}}</h1>
            </md-toolbar>
            <md-content layout-padding>
                <div layout="column">
                    <div flex class="center">
                        <md-button ng-click="removeCurrent($event)" class="md-raised md-warn w-50">
                            <md-icon md-font-icon="fa-trash" class="fa f-20"></md-icon>
                            Supprimer
                        </md-button>
                    </div>
                    <div flex class="center">
                        <md-button ng-click="closeNavbar()" class="md-raised w-50">
                            Annuler
                        </md-button>
                    </div>
                </div>
            </md-content>
        </md-sidenav>
    </section>
</div>