<h2>Liens utiles</h2>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" ng-click="createUtilLink()" data-target="#dlgAddUtilLink">
<i class="fa fa-plus"></i>
</button>
<ul class="list-group">
	<li ng-repeat="e in utillinks" class="list-group-item">{{e.title[currentLocale]}}
		<button type="button" ng-click="selectUtilLink(e)" data-toggle="modal" data-target="#dlgAddUtilLink" class="btn btn-default">Edit</button>
		<button type="button" ng-click="deleteUtilLink(e)" class="btn btn-default">Remove</button>
	</li>
</ul>
<div class="modal fade" id="dlgAddUtilLink" tabindex="-1" role="dialog" aria-labelledby="dlgAddUtilLink" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="formAddUtilLink">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">UtilLink</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="utillinkName">Nom</label>
						<input type="text" ng-model="utillink.title[currentLocale]" class="form-control" id="utillinkName" placeholder="Nom du lien util" ng-required="true">

						<div class="form-group">
							<label for="utillinkLink">Lien</label>
							<input type="text" ng-model="utillink.link" class="form-control" id="utillinkLink" placeholder="Adresse web" ng-required="true">
						</div>

						<div class="form-group">
							<label for="utillinkCity">Ville</label>
							<input id="utillinkCity" type="text" g-places-autocomplete ng-model="utillink.city" options="optionsCity" force-selection="true" ng-required="true" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="submit" ng-click="saveUtilLink()" class="btn btn-primary" data-dismiss="modal" ng-disabled="formAddUtilLink.$invalid">Ajouter le lien</button>
				</div>
			</form>
		</div>
	</div>
</div>